@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Mikkel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Mikkel/Mikkel Sans Light.ttf") format("truetype");
}
@font-face {
  font-family: "Mikkel";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Mikkel/Mikkel Sans Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Mikkel";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Mikkel/Mikkel Sans Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Mikkel";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Mikkel/Mikkel Sans Black.ttf") format("truetype");
}

@layer base {
  html,
  body {
    font-family: "Poppins", "sans-serif";
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
